@model List<EShop.Domain.Domain_models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Tickets" asp-action="Create">Add new Ticket</a>
    </div>
</div>

@for (int i = 0; i < Model.Count; i++)
{
    var item = Model[i];
    if (i % 3 == 0)
    {
        @:<div class="row">
        }
        <div class="card" style="width: 18rem; margin-right:15px">
            <img src="@item.MovieBillboard" style="max-width:270px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.MovieName</h5>
                <p class="card-text">Genre: @item.MovieGenre</p>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                <a href="/Tickets/AddToCart?ticketId=@item.Id&cartId=1">Add to cart</a>
            </div>
        </div>
        if (i % 3 == 2)
        {
        @:</div>
    }
}
